In [7]:
def Ryo(a,b):
  c=a+b
  c
  return c
c=0
a=5
b=4
Ryo(a,b)
print(f"Valor: {c}")

Valor: 0

In [11]:
def Ryo(a,b):
  c=a+b
  return c
a=5
b=4
Ryo(a,b)

9

In [13]:
def calc(a,b,c):
  if c=="+":
    res=a+b
  if c=="-":
    res=a-b
  if c=="*":
    res=a*b
  if c=="/":
    res=a/b
  return res
v1=int(input("Número  1: "))
v2=int(input("Número  2: "))
op=input("Operación: ")
calc(v1,v2,op)

Número  1: 2
Número  2: 4
Operación: +

6

In [ ]:
#SIN PARAMETROS CON RETORNO
def verificar (correo, contraseña):
  if

In [ ]:
#ID VALIDO
def ID_valido(ID):
  c=len(ID)
  if c==8 or c==9:
    if ID[0]=="U":
      n=ID[1,c]
      for a in range(0,c):

In [ ]:
#Ingrese correo y se revise en excel
#1 correo 2 contraseñas

In [25]:
#NUMERO PRIMO
print("N_Primo")
def primo(n):
  for a in range(2,n-1,1):
    if n%a==0:
      return False
  return True
n=int(input("Ingrese un número: "))
primo(n)

N_Primo
Ingrese un número: 4

False

In [30]:
#EJERCICIO 1
def EDAD(a,b):
  c=a-b
  return c
Act=int(input("Año actual: "))
Nac=int(input("Año de nacimiento: "))
X=EDAD(Act,Nac)
Nac=int(input("Año de nacimiento de tu amigo: "))
Y=EDAD(Act,Nac)
print(f"Tengo {X} años y mi mejor amig@ tiene {Y} años")

Año actual: 2022
Año de nacimiento: 2004
Año de nacimiento de tu amigo: 2005
Tengo 18 años y mi mejor amig@ tiene 17 años

In [32]:
#EJERCICIO 2
def inf_pers():
  a=input("Nombre: ")
  b=input("Edad: ")
  c=input("País: ")
  d=f"{a}, de {c},tiene {b} años de edad"
  return d
inf_pers()

Nombre: Juan
Edad: 17
País: Norcorea

'Juan, de Norcorea,tiene 17 años de edad'